.modal {
    background: #202528;
    padding: 16px;
}

/* --- */
.modalGame {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}


.modalImg {
    background: RED;
    width: 38px;
    height: 38px;
}
.modalGame h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-left: 16px;

    color: #f5f5f5;
}
