.title {
    padding: 0 8px;
}

.cover__photo {
    height: 270px;
    background: #202528;
    margin: 0 8px;
    
    position: relative;
    display: flex;
    align-items: center;

    margin-bottom: 400px;

    overflow: hidden;
}


.coverbackground {
    width: 70%;
    top: -10%;
    object-fit: contain;
    position: absolute;
    right: 0;

}

.game__info {
    display: flex;
    align-items: center;
    background: linear-gradient(105.52deg, #8001e5 -4.12%, #245beb 86.03%);
    height: 100%;
    padding: 16px 32px 16px 32px;
    z-index: 1;
    width: 40%;
}


@media screen and (max-width: 1080px) {
    .coverbackground {
        height: 100%;
        top: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        z-index: 0;
    }
    .cover__photo::after {
        width: 50%;
    }
    .game__info {
        width: 50%;
        z-index: 1;
    }
}

@media screen and (max-width: 746px) {
    .cover__photo {
        height: 500px;
        justify-content: flex-end;
        flex-direction: column;
    }
    
    .coverbackground {
        width: 100%;
        top: 0;
        object-fit: cover;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
    }

    .game__info {
        height: auto;
        width: 100%;
        
        z-index: 1;
    }
}

@media screen and (max-width: 580px) {
    .game__info {
        margin: 0 16px 0 16px;
        z-index: 1;
        padding: 16px 16px 30px;
    }

    .coverbackground {
        height: 100%;
        top: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        z-index: 0;
    }
}
