.title {
    padding: 16px 8px 16px 8px;
    width: 90%;
}
.title h2 {
    font-weight: 600;
    font-size: 38px;
    color: #ffffff;
}
.title p {
    font-weight: 400;
    font-size: 14px;
    color: #f5f5f5;
}

.listControl{
    margin-top: 16px;
    margin-bottom: 16px;
}

.order {
    display: flex;
    align-items: center;
}

.order h3 {
    font-weight: 400;
    font-size: 14px;

    color: #f5f5f5;
}

.orderOption {
    border: none;
    margin: 0 0 0 16px;
    width: 100px;
    padding: 8px 10px;
    background: #202528;
    color: #f5f5f5;
}