.btnFavorite {
    position: absolute;
    left: 0;
    top: -100px;
}

.gameRating {
    background: #772ce8;
    color: #f5f5f5;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    padding: 2px 0;
    margin-bottom: 8px;

    position: absolute;
    left: 0;
    top: -40px;
}
.gameInfo h2 {
    font-weight: 600;
    font-size: 26px;

    color: #f5f5f5;
}
