.attributesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px 28px;
}
.attributes{
    grid-column: 1 / 2;
    margin-bottom: 10px;
}
.attributes h2 {
    font-weight: 600;
    font-size: 14px;
    color: #f5f5f5;
}
.attributes p {
    font-weight: 500;
    font-size: 12px;
    color: #a8a8a8;
}
.attributes p a {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: #a8a8a8;
}
.attributes:nth-child(4){
    grid-column: 1 / 3;
}
.attributes:nth-child(5){
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.attributes:nth-child(6){
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}
@media screen and (max-width: 746px){
    .attributesGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px 28px;
    }
}