.nav__input {
    width:100%;
    max-width: 350px;
    height: 36px;
    background: #202528;
    position: relative;
    display: flex;
    align-items: center;
}
.nav__input input {
    border: none;
    outline: none;
    background: transparent;
    height: 100%;
    width: 90%;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: block;
    color: #e7e7e7;
    padding: 0 16px;
    
}

.inputIcon{
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: #272e31;
    height: 100%;
    transition: all ease-in-out 200ms;
}

.modal{
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 10000;
}


