.loading {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 1.5s linear infinite;
    stroke-dashoffset: 100;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
