
.info__name h1 {
    font-weight: 600;
    font-size: 26px;

    color: #f5f5f5;
}
.info__publisher {
    display: flex;
    align-items: center;
    margin: 2px 0 8px 0;
}
.info__publisher p {
    font-weight: 400;
    font-size: 14px;

    color: #f5f5f5;
}
.info__platforms {
    margin-left: 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
}

.divisor {
    margin: 4px 0 8px 0;
    width: 130px;
    border: 1px solid #591beb;
}

.description p {
    max-width: 400px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #f5f5f5;
}

@media screen and (max-width: 580px){
    .info__publisher {
        display: flex;
        
        flex-flow: column;
        align-items: flex-start;

        margin: 2px 0 0 0;
    }

    .info__platforms {
        margin-left: 0;
        margin-top: 8px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 8px;
        margin-bottom: 8px;
    }
}

