.cover__photo {
    height: 480px;
    background: #202528;
    margin: 0 8px;
    border-radius: 8px;
    position: relative;

    display: flex;
    flex-flow: column;
    overflow: hidden;
    justify-content: flex-end;
}
.cover__photo::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(19deg, #8400e5 0.34%, rgba(132, 0, 229, 0) 65.68%);
}



.game__info {
    z-index: 1;
    margin: 0 0 40px 40px;
}

.info__name h1 {
    font-weight: 600;
    font-size: 26px;

    color: #f5f5f5;
}
.info__publisher {
    display: flex;
    align-items: center;
    margin: 2px 0 8px 0;
}
.info__publisher p {
    font-weight: 400;
    font-size: 14px;

    color: #f5f5f5;
}
.info__platforms {
    margin-left: 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
}

.divisor {
    margin: 4px 0 8px 0;
    width: 130px;
    border: 1px solid #591beb;
}

.description p {
    max-width: 400px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #f5f5f5;
}

.info__buttons {
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-flow: wrap;
}
.button__more,
.button__favorite {
    cursor: pointer;
    min-width: 120px;
    max-width: 130px;
    height: 38px;
    padding: 0 8px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    margin-right: 10px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    text-decoration: none;
}
.button__more p,
.button__favorite p {
    margin-right: 8px;
}

.button__more {
    background: #591beb;
}
.button__favorite {
    background: transparent;
    border: 1px solid #ffffff;
}

.coverBtn {
    position: absolute;
    z-index: 1;
    right: 0;
    margin: 0 40px 40px 0;
    display: flex;
}
.button__back {
    margin-right: 16px;
}

.button__back,
.button__next {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    background: transparent;
    border: 1px solid white;
    border-radius: 8px;
}
.cover__background{
    width: 100%;
    top: 0;
    object-fit: contain;
    position: absolute;
    right: 0;
    z-index: 0;
}

@media screen and  (max-width:1090px){
    .cover__background{
       
        height: 100%;
        top: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        z-index: 0;
    }
    
}



@media screen and (max-width: 746px) {
    .cover__photo {
        height: 580px;
    }
    .cover__photo::before {
        content: "";
        width: 100%;
        height: 70%;
        position: absolute;
        top: 0;
        border-radius: 8px;
        background: linear-gradient(32deg, rgba(26, 30, 33, 0) 0%, rgb(26 30 33 / 0%) 45.88%, #591beb 100%);
    }
    .game__info {
        z-index: 1;
        margin: 0 16px 16px 16px;
    }
    .coverBtn {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        margin: 16px 16px 0 0;
        display: flex;
    }
    .info__buttons{
        justify-content: space-between;
    }
    .button__more,
    .button__favorite {
        max-width: 49%;
        flex: 1 1 ;
        margin: 0 0px 6px 0;
    }
}

@media screen and (max-width: 580px){
    
    .info__buttons{
        justify-content:center;
    }
    .button__more,
    .button__favorite{
        min-width: 80%;
        max-width: 100%;
        margin: 0 0px 6px 0;
    }


    .info__publisher {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 2px 0 8px 0;
        
    }
    .info__platforms {
        margin-left:0;
        margin-top: 4px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 8px;
    }
    
}


.thumbnailSlider {
    display: none;
    margin: 140px 40px 0 0;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1000;

}