.cover__photo {
    height: 480px;
    background: #202528;
    margin: 0 8px;

    position: relative;

    display: flex;
    flex-flow: column;
    overflow: hidden;
    justify-content: flex-end;
}
.cover__photo::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(19deg, #8400e5 0.34%, rgba(132, 0, 229, 0) 65.68%);
}

.cover__background{
    width: 100%;
    top: 0;
    object-fit: contain;
    position: absolute;
    right: 0;
    z-index: 0;
}


.game__info {
    z-index: 1;
    margin: 0 0 40px 40px;
}


.info__buttons {
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-flow: wrap;
}

.button__favorite {
    cursor: pointer;
    border: none;
    outline: none;
    
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    
    border-radius: 20px;
    border: 1px solid #ffffff;
    
}



/*  botoes de navegação */
.coverBtn {
    position: absolute;
    z-index: 1;
    right: 0;
    margin: 0 40px 40px 0;
    display: flex;
}
.button__back {
    margin-right: 16px;
}
.button__back,
.button__next {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #202528;
    transition: 200ms;
}

.button__back:hover,
.button__next:hover{
    background: #591beb;
}

@media screen and  (max-width:1090px){
    .cover__background{
       
        height: 100%;
        top: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        z-index: 0;
    }
    
}



@media screen and (max-width: 746px) {
    .cover__photo {
        height: 580px;
    }
    .cover__photo::before {
        content: "";
        width: 100%;
        height: 70%;
        position: absolute;
        top: 0;
        border-radius: 8px;
        background: linear-gradient(32deg, rgba(26, 30, 33, 0) 0%, rgb(26 30 33 / 0%) 45.88%, #591beb 100%);
    }
    .game__info {
        z-index: 1;
        margin: 0 16px 16px 16px;
    }
    .coverBtn {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        margin: 16px 16px 0 0;
        display: flex;
    }
    
}

@media screen and (max-width: 580px){
    
    .info__buttons{
        justify-content:flex-start;
    }
    .button__favorite {
        cursor: pointer;
        border: none;
        outline: none;
        
        height: 40px;
        width: 40px;
        
        max-height: 40px;
        max-width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        
        border-radius: 20px;
        border: 1px solid #ffffff;
        
    }

    .info__publisher {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 2px 0 8px 0;
        
    }
    .info__platforms {
        margin-left:0;
        margin-top: 4px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 8px;
    }
    
}


.thumbnailSlider {
    display: none;
    margin: 140px 40px 0 0;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1000;

}