.categories__grid{

    margin: 16px 8px 0 8px;

}

.categories__title h2{
    font-size: 18px;
    font-weight: 600;
    color: #f5f5f5;
}
.categories__title h2 span {
    color:#772CE8 ;
}
.categories__containerGrid{
    margin: 8px 0 8px 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:16px;
}
.divisor{
    width: 100%;
    height: 1px;
    background: #313538;
    margin: 8px 0 16px 0;
}

@media screen and (max-width: 746px) {
	.categories__containerGrid{
        margin: 8px 0 0 0;
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:8px;
    }
    
}
@media screen and (max-width: 446px) {
	.categories__containerGrid{
        grid-template-columns: repeat(1, 1fr);
    }
    
}