.container{
    display: block;
    cursor: pointer;
}
.game {
    
    border-radius: 4px;
    background: linear-gradient(270deg, #591BEB 0%, rgba(76, 29, 189, 0) 19.26%);
    
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    transition: all 200ms;

}
.game h3 {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #f5f5f5;
    margin: 0 30px 0 8px;
}

.game:hover{

    background: linear-gradient(270deg, #591BEB 0%, rgba(76, 29, 189, 0) 50.26%);
}
.gamePhoto {
    z-index: 99;
    margin-left: auto;
    width: 54px;
    height: 54px;
    border-radius: 4px;
    background: #313538;
    background-image: url("../../../img/bg-prov.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
