.btnFavorite {
    position: absolute;
    left: 0;
    top: -100px;
}

.gameRating {
    background: #772ce8;
    color: #f5f5f5;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    padding: 2px 0;
    margin-bottom: 8px;

    position: absolute;
    left: 0;
    top: -40px;
}
.gameInfo h2 {
    font-weight: 600;
    font-size: 26px;

    color: #f5f5f5;
}
.description {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descriptionMask{
    height: 50px;
    overflow: hidden;
    transition: all 300ms;
    width: 100%;
}
.description p {
    align-self: flex-start;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #f5f5f5;
}
.Read {
    cursor: pointer;
    margin-top: 16px;
    background: #f5f5f5;
    font-weight: 500;
    font-size: 12px;
    padding: 8px 0;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #202528;
}
.Read:hover{
    transition: all 300ms;
    background: #d4d3d3;
}


@media screen and (max-width: 446px) {
    .description{
        width: 100%;
    }

    
}
