.skeleton {
    margin-bottom: 8px;
    animation: skeleton 1.5s ease-in-out 0.1s infinite;
}

@keyframes skeleton {
    0% {
        background: #ffffff3a;
    }
    50% {
        background: #ffffff4b;
    }
    100% {
        background: #ffffff3a;
    }
}
@media screen and (max-width: 446px){
    .skeleton {
        max-width: 100%;
    }
}