
.categories__title {
    margin: 16px 8px 8px 8px;
}
.categories__title h2 {
    font-size: 18px;
    font-weight: 600;
    color: #f5f5f5;
}
.categories__title h2 span {
    color: #772ce8;
}
.divisor1{
    width: 100%;
    height: 1px;
    background: #313538;
    margin: 8px 0 16px 0;
}