.cardgame {
    background: #202528;
    border-radius: 8px;
    max-width: 380px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.cardImage {
    margin: 4px 4px 0 4px;
    border-radius: 8px;
    height: 174px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    background: #202528;
}
.card__background {
    position: absolute;
    top: 0;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.info {
    margin-top: 8px;
    padding: 0 8px;
}
.info h2 {
    font-weight: 400;
    font-size: 16px;

    color: #f5f5f5;
}
.descrip {
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.platforms {
    margin-right: 16px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

.dev p {
    font-weight: 500;
    font-size: 12px;

    color: #b7b7b7;
}

.info__buttons {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-between;

    padding: 0 8px 8px 8px;
}

.button__more,
.button__favorite {
    cursor: pointer;
    min-width: 120px;
    max-width: 49%;
    flex: 1 0 auto;
    height: 38px;
    padding: 0 8px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    text-decoration: none;
}
.button__more p,
.button__favorite p {
    margin-right: 8px;
}

.button__more {
    background: #591beb;
}
.button__favorite {
    background: transparent;
    border: 1px solid #ffffff;
}

.Action4 {
    position: absolute;
    background: #0040e5;
    width: 100%;
    height: 5px;
    bottom: 0;
}
@media screen and (max-width: 1442px) {
    
    .card__background {
        width: auto;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        object-fit: contain;
        object-position: bottom;
    }
}

@media screen and (max-width: 1180px) {
    .button__more,
    .button__favorite {
        min-width: 80%;
        max-width: 100%;
        flex: 1 0 auto;
        margin-top: 8px;
    }
    .card__background {
        width: auto;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        object-fit: contain;
        object-position: bottom;
    }
}

@media screen and (max-width: 746px) {
    .button__more,
    .button__favorite {
        flex: 1 0 auto;
        margin-top: 8px;
    }
}

@media screen and (max-width: 446px) {
    .button__more,
    .button__favorite {
        min-width: 80%;
        max-width: 100%;
        flex: 1 0 auto;
        margin-top: 8px;
    }

    .cardImage {
        height: 274px;
    }
    .card__background {
        width: auto;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        object-fit: contain;
        object-position: bottom;
    }
}
