.cardgame {
    background: #202528;

    max-width: 380px;

    position: relative;
    overflow: hidden;
}

.cardImage {
    height: 150px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    background: #202528;

    position: relative;
}

.favoriteBtn{
    position: absolute;
    z-index: 99;
    top: -70px;
    right: 0;
    margin: 16px;
    z-index: 100;
}
.ratingCard{
    background: #772CE8;
    color: #F5F5F5;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    padding: 2px 0;

    position: absolute;
    top: -40px;
    z-index: 999;
}

.card__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.info {
    margin-top: 8px;
    padding: 0 8px;
    position: relative;
 
}

.info::after{
    content: '';
    background: linear-gradient(0deg, #202528 11.88%, rgba(32, 37, 40, 0.55) 58.36%, rgba(32, 37, 40, 0) 96.87%);
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 99;
}

.info h2 {
    font-weight: 400;
    font-size: 16px;

    color: #f5f5f5;
}
.descrip {
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.platforms {
    margin-right: 16px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

.dev p {
    font-weight: 500;
    font-size: 12px;

    color: #b7b7b7;
}

.info__buttons {
    margin-top: 12px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: center;
}

.info__buttons a{
    text-decoration: none;
    color: #F5F5F5;
    font-weight: 400;
    font-size: 14px;
    width: 50%;
    padding: 12px 0;
   
    transition: 200ms ease-in-out all;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.info__buttons a:hover {
    width: 60%;
    background: #1d2225;
}

@media screen and (max-width: 1442px) {
    
    
}

@media screen and (max-width: 1180px) {
    .button__more,
    .button__favorite {
        min-width: 80%;
        max-width: 100%;
        flex: 1 0 auto;
        margin-top: 8px;
    }
 
}

@media screen and (max-width: 746px) {
    .button__more,
    .button__favorite {
        flex: 1 0 auto;
        margin-top: 8px;
    }
}

@media screen and (max-width: 446px) {
    .button__more,
    .button__favorite {
        min-width: 80%;
        max-width: 100%;
        flex: 1 0 auto;
        margin-top: 8px;
    }

    
}
