.nav {
    margin: 16px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav__logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.nav__logo a {
    
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav__input {
    width: 40%;
    max-width: 350px;
    height: 36px;
    
    position: relative;
    display: flex;
    align-items: center;
}

.inputIcon:hover{
    background: #2a3033;
}
.nav__favorites {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 10px;
    border-radius: 50%;
    
    transition: all ease-in-out 200ms;
}
.nav__favorites:hover {
    background: #2a3033;
}

/*  mobile */

@media screen and (max-width: 746px) {
	.nav__input{
        width: 100%;
        margin: 0 8px;
    }
}