


.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:16px;
    margin: 0 8px;
}

@media screen and (max-width: 746px){
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:16px;
    }
}