.title {
    padding: 0 8px;
    width: 70%;
}
.title h2 {
    font-weight: 600;
    font-size: 38px;
    color: #ffffff;
}
.title p {
    font-weight: 400;
    font-size: 14px;
    color: #f5f5f5;
}

.listControl{
    margin-top: 16px;
}

.order {
    display: flex;
    align-items: center;
}

.order h3 {
    font-weight: 400;
    font-size: 14px;

    color: #f5f5f5;
}

.orderOption {
    border: none;
    margin: 0 0 0 16px;
    width: 100px;
    padding: 8px 10px;
    background: #202528;
    color: #f5f5f5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 8px;
}

.seemore {
    cursor: pointer;
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.seemoreBtn {
    padding: 8px 16px;
    background: #202528;
    color: #fff;
    border-radius: 4px;
}
.seemoreBtn:hover {
    background: #2c3336;
}

@media screen and (max-width: 1080px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}
@media screen and (max-width: 746px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}
@media screen and (max-width: 446px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
}
